[Desktop Entry]
Name=dwm
Comment=d window manager
Exec=dwmstart
TryExec=dwmstart
Type=Application
X-LightDM-DesktopName=dwm
DesktopNames=dwm
Keywords=tiling;wm;windowmanager;window;manager;
